body{
    background-color: #171314;
    font-size: 70px;
    font-family: raleway;
}

@font-face{
    font-family: raleway;
    src: url("../assets/fonts/raleway_thin-webfont.ttf");
}

.nav{
    position: absolute;
    bottom: 0;
    width: 90vw;
    padding: 5px;
}

.nav a{
    text-decoration: none;
    color: #fbedb0;
}

.nav a:link{
    color: #fbedb0;
    animation-name: colorshift;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-play-state: running;
    transition: 1s color ease;
}

.anim1{
    animation-delay: 0.2s;
}

.anim2{
    animation-delay: 0.4s;
}

.anim3{
    animation-delay: 0.8s;
}

.nav:hover > a:hover{
    animation: 0;
    color: #6EAE9D;
}

.nav:hover > a:link{
    animation: 0;
    color: #fbedb0;
}

@keyframes colorshift {
    70% {color: #fbedb0;}
    75%  {color: #85643E;}
    80% {color: #6EAE9D;}
    90% {color: #fbedb0}
}